@import './base.css';

#app {
  min-height: 100vh;
  width: 100%;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: inherit;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    filter: brightness(1.04);
  }
}

:root {
  --focus-ring: 0 0 0 3px rgba(79, 138, 168, 0.25);
}
